<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<th:block layout:fragment="title">
		<title>Yum회원가입</title>
	</th:block>
    <th:block layout:fragment="header">
        <h6 class="display-5 fw-bolder">Register</h6>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </th:block>

<th:block layout:fragment="content">
	<div class="card-content">
		<form class="form-horizontal" th:action="@{/register}" method="post">
			
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">이름</span>
						<input type="text" id="name" name="name" class="form-control" 
								placeholder="이름을 입력해 주세요." required oninput = "nameCheck()" />
					</div>
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_name_check" style="display:none;"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">아이디</span>
					<input type="text" id="id" name="id" class="form-control" 
							placeholder="6~10자 영문 소문자, 숫자를 사용하세요." required oninput = "idCheck()" />
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_id_check" style="display:none;"></span>
				</div>
			</div>
		    
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">비밀번호</span>
					<input type="password" id="pw" name="pw" class="form-control" 
							placeholder="10~15자 영문, 숫자, 특수문자를 사용하세요." required oninput = "pwCheck()" />
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_password_check" style="display:none;"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">비밀번호 확인</span>
					<input type="password" id="passcode1" name="passcode1" class="form-control" 
							placeholder="10~15자 영문, 숫자, 특수문자를 사용하세요." required oninput = "pwCheck1()" />
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_password1_check" style="display:none;"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">전화번호</span>
					<input type="text" id="tel" name="tel" class="form-control" 
							placeholder="'-'와 함께 전화번호를 입력해 주세요." required oninput = "phoneCheck()" />
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_tel_check" style="display:none;"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">이메일</span>
				<!-- email -->	
					<input type="text" id="email" name="email" class="form-control"
							placeholder="이메일을 입력해 주세요." required oninput = "emailCheck()" />
					<input type="button" class="btn btn-outline-secondary waves-effect waves-light" 
							id="btnCertify" name="btnCertify" value="인증하기">
				<!-- 인증코드 -->		
					<input type="text" id="certifyCode" name="certifyCode" style="display:none;"
							class="form-control" placeholder="인증코드">
					<input type="button" class="btn btn-outline-secondary waves-effect waves-light" style="display:none;" 
							id="btnCodeSubmit" name="btnCodeSubmit" value="전송">
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_email_check" style="display:none;"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="input-group mt-2" style="width:600px; margin:auto;">
					<span class="input-group-text" style="width:130px;">생년월일</span>
					<input type="text" id="birth" name="birth" class="form-control" 
							placeholder="생년월일(yyyy-mm-dd)을 입력해 주세요." required oninput = "birthCheck()" />
				</div>
				<div class="input-group" style="width:600px; margin:auto;">
					<span class="span_birth_check" style="display:none;"></span>
				</div>
			</div>
		
			<div class="btn_wrap text-center mt-3">
				<a th:href="@{/login}" class="btn btn-dark waves-effect waves-light mx-2">뒤로가기</a>
				<button type="submit" class="btn btn-outline-dark mx-2">가입하기</button>
			</div>
		</form>
	</div>
		<!-- /.card-content -->
</th:block>

<th:block layout:fragment="script">
	<script src='https://code.jquery.com/jquery-3.5.0.js'></script>
	<script th:inline="javascript">
		/*<![CDATA[ */
	
	$(document)
	.on('click', '#btnCodeSubmit', function(){
		$.ajax({
	    	url:'/verifyCode',
	        type:'POST',
	        data:{code: $('#certifyCode').val()},
	        success: function(result) { 
	        	if (result == 1){
					alert("인증되었습니다.");
			        $('#certifyCode').css("display","none");
			        $('#btnCodeSubmit').css("display","none");
					$('.span_email_check').html("인증완료");
			        $('.span_email_check').css("display","inline-block");
					$('.span_email_check').css("color","black"); 
					
				} else {
					alert("인증에 실패하였습니다.");
			        $('#certifyCode').css("display","none");
			        $('#btnCodeSubmit').css("display","none");
					return false;
				}
	        },
	        error:function(){
	            alert("인증실패");
	            return false;
	        }
		});
	})
	
	.on('click', '#btnCertify', function(){
		if($('#email').val()==null || $('#email').val()==""){
			alert('이메일 주소를 입력해주세요.')
			return false;
		} else{
		$.ajax({
		   	url:'/mail',
			type:'POST',
			data:{email: $('#email').val()},
			dataType : "text",
			success: function(text) { 
				if (!emailCheck(text)){
					alert("메일 전송에 실패하였습니다.");
			        $('#certifyCode').css("display","none");
			        $('#btnCodeSubmit').css("display","none");
					return false;
					
				} else {
					alert("인증코드를 전송하였습니다.");
			        $('#certifyCode').css("display","inline-block");
			        $('#btnCodeSubmit').css("display","inline-block");
					return true;
				}
			},
			error:function(){
				alert("인증코드전송 실패입니다");
				$('#certifyCode').css("display","none");
		        $('#btnCodeSubmit').css("display","none");
		        return false;
			}
		});
	}
	})
	
	.on('submit', function() {
	 	if (!nameCheck($('input[name=name]').val())) {
			alert('이름을 확인해주세요.');
			return false;
			
		}
		if (idCheck($('#id').val()) == false) {
			alert('ID를 확인해주세요.');
			return false;
			
		}
		if (!pwCheck($('#pw').val())) {
			alert('비밀번호를 확인해주세요.');
			return false;
			
		} 
		if ($('#pw').val() != $('#passcode1').val()) {
			alert('비밀번호와 비밀번호 확인이 같지 않습니다.');
			return false;
			
		}
		if (!phoneCheck($('#tel').val())) {
			alert('전화번호를 확인해주세요.');
			return false;
			
		}
		if (!emailCheck($('#email').val())) {
			alert('이메일을 확인해주세요.');
			return false;
			
		}
		if ($('.span_email_check').html() != "인증완료"){
			alert('이메일 인증을 완료해 주세요.');
			return false;
		}
		if (!birthCheck($('#birth').val())) {
			alert('생년월일을 확인해주세요.');
			return false;
			
		} else {
			alert('가입이 완료되었습니다.');
			return true;
		}
	});
	
	function nameCheck(){ /*이름 정규식*/
		
	    var nameRegExp = /^[가-힣]{2,6}$/;
	    
	    var name = $('#name').val();
	    if(!nameRegExp.test(name)) {
	    	$('.span_name_check').html("이름을 제대로 입력해주세요.");
	        $('.span_name_check').css("display","inline-block");
	        $('.span_name_check').css("color","#6A82FB");
	        return false;
	    	
	    } else {
	    	$('.span_name_check').css("display","none");
	        return true;
	    };
	};
	function idCheck() { /*아이디 정규식*/
		var idRegExp = /^[a-z0-9]{6,10}$/;
		
	    var userid = $('#id').val();
	    if(!idRegExp.test(userid)) {
	    	$('.span_id_check').html("아이디를 제대로 입력해주세요.");
	        $('.span_id_check').css("display","inline-block");
	        $('.span_id_check').css("color","#6A82FB");
	    	return false;
	    	
	    } else {
			$.ajax({
		    	url:'/idOverlapCheck',
		        type:'post',
		        data:{id:userid},
		        success:function(result){ //컨트롤러에서 넘어온 result값을 받는다 
		        	if(result == 0){ //result가 1이 아니면(=0일 경우) -> 사용 가능한 아이디 
		        		$('.span_id_check').html("사용 가능한 아이디입니다.");
		                $('.span_id_check').css("display","inline-block");
						$('.span_id_check').css("color","black"); 
				        return true;
		                
		            } else { // result가 1일 경우 -> 이미 존재하는 아이디
		        		$('.span_id_check').html("이미 존재하는 아이디입니다.");
		                $('.span_id_check').css("display","inline-block");
		                $('.span_id_check').css("color","#6A82FB");
		                return false;
		            }
		        },
		        error:function(){
		            console.log("ID를 확인해주세요.");
		            return false;
		        }
			});
	    };
	};
	function pwCheck(){ /*비밀번호 정규식*/
		var pwRegExp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&^])[A-Za-z\d@$!%*#?&^]{10,20}$/;
		
		var pw = $('#pw').val();
		if(!pwRegExp.test(pw)) {
			$('.span_password_check').html("비밀번호를 제대로 입력해주세요.");
	        $('.span_password_check').css("display","inline-block");
	        $('.span_password_check').css("color","#6A82FB");
			return false;
			
		} else {
	    	$('.span_password_check').css("display","none");
	        return true;
	    };
	};
	function pwCheck1(){ /* 비밀번호확인 */
		
		if($('#passcode1').val() != $('#pw').val()) {
			$('.span_password1_check').html("비밀번호와 같지 않습니다.");
	        $('.span_password1_check').css("display","inline-block");
	        $('.span_password1_check').css("color","#6A82FB");
			return false;
			
		} else {
	    	$('.span_password1_check').css("display","none");
	        return true;
	    };
	};
	function phoneCheck(){ /*전화번호 정규식*/
		
	    var telRegExp = /^\d{3}-\d{3,4}-\d{4}$/;
	    
	    var tel = $('#tel').val();
	    if(!telRegExp.test(tel)) {
	    	$('.span_tel_check').html("휴대폰번호를 제대로 입력해주세요.");
	        $('.span_tel_check').css("display","inline-block");
	        $('.span_tel_check').css("color","#6A82FB");
	        return false;
	    	
	    } else {
	    	$('.span_tel_check').css("display","none");
	        return true;
	    };
	};
	function emailCheck(){ /*이메일 정규식*/
	    var emailRegExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
	    
	    var email = $('#email').val();
	    if(!emailRegExp.test(email)) {
	    	$('.span_email_check').html("이메일을 제대로 입력해주세요.");
	        $('.span_email_check').css("display","inline-block");
	        $('.span_email_check').css("color","#6A82FB");
			return false;
			
	    } else {
	    	$('.span_email_check').css("display","none");
	        return true;
	    };
	};
	function birthCheck(){ /*생년월일 정규식*/
		var birthRegExp = /^(19[0-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
		
		var birth = $('#birth').val();
		if(!birthRegExp.test(birth)) {
	    	$('.span_birth_check').html("생년월일을 제대로 입력해주세요.");
	        $('.span_birth_check').css("display","inline-block");
	        $('.span_birth_check').css("color","#6A82FB");
			return false;
			
		} else {
	    	$('.span_birth_check').css("display","none");
	        return true;
	    };
	};

		/*[- end of function -]*/

		/*]]>*/
	</script>
</th:block>
</html>