<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>YumYum 과거 주문 내역</title>
    </th:block>
    <th:block layout:fragment="header">
        <h4 class="display-3 fw-bolder">My Page</h4>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </th:block>
    
    <th:block layout:fragment="content">
        <div class="row gx-4 gx-lg-5 justify-content-end">
	        <div class="flex flex-col col mx-8">
		        <div class="flex col max-h-10 mb-3 ">
		        <!-- 과거 주문 내역-->
		            <div class="grow font-semibold text-2xl">과거 주문 내역</div>
			        <div class="mb-2 font-semibold text-xl">
			            <span th:onclick="printOrderList(7,1)" class="cursor-pointer mx-1">1주일</span>
			            <span th:onclick="printOrderList(31,1)" class="cursor-pointer mx-1">1개월</span>
			            <span th:onclick="printOrderList(100,1)" class="cursor-pointer mx-1">전체</span>
			        </div>
		        </div>
		        <div class="max-h-[50vh] overflow-y-scroll bg-gray-200 p-3  grid grid-cols-1 flex justify-center">
		           <div class="flex justify-center">
		               <table id="order-list" style="min-width:600px; border:0;"></table>
		           </div>
		           <div th:onclick="addContent()" style="cursor:pointer;"
		               class=" text-white bg-slate-900 text-center font-semibold m-4 p-3 "
		               >더보기</div>
		        </div>
		     </div>
		     <th:block th:replace="/fragments/mypageSidebar :: sidebar"> </th:block>
		 </div>
    </th:block>
    <th:block layout:fragment="modal">

    <div id="modalIdentification" class="modal fade" tabindex="-1"
        role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"
                    style="display: flex; justify-content: space-between;">
                    <div class="font-semibold mt-2 mb-2 ml-2 text-2xl text-center dark">
                        본인 확인</div>

                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" onclick="openModalId()">
                        <img aria-hidden="true"
                            th:src="@{https://cdn3.iconfinder.com/data/icons/status/100/close_1-512.png}"
                            style="width: 15px; height: 15px; margin: 20px;"></img>
                        <!-- <span aria-hidden="true"></span> -->
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modalId-content">
                        <div class="mt-2">
                            <p class="mt-2">내정보수정 페이지로 이동하기 위해 비밀번호를 입력해 주세요.</p>
                        </div>
                        <div class="mt-3 form-group">
                            <label class="ml-2 col-sm-2 font-bold">비밀번호</label>
                            <div class="mt-2 text-center">
                                <input type="password" id="pw" name="pw" class="form-control"
                                    placeholder="비밀번호를 입력해 주세요." />
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 text-right">
                        <button class="btn btn-dark waves-effect waves-light"
                            id="btnConfirm" name="btnConfirm">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
    
<!-- 자바스크립트 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
            //let orderTotlaCount = /*[[${orderTotlaCount}]]*/null;
            let period = 7;
            let firstIndex = 1;
            let orderHistoryHtml = "";  
            
            /*전체 기간 조회*/    
            function getToday(){
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = ("0" + (1 + date.getMonth())).slice(-2);
                    var day = ("0" + date.getDate()).slice(-2);
            
                    return year + "-" + month + "-" + day;
                }
                        
                const getDateDiff = (d1, d2) => {
                      const date1 = new Date(d1);
                      const date2 = new Date(d2);
                      
                      const diffDate = date1.getTime() - date2.getTime();
                      
                      return Math.abs(diffDate / (1000 * 60 * 60 * 24)); // 밀리세컨 * 초 * 분 * 시 = 일
                    }
            
                const allPeriod = getDateDiff("2022-06-13", getToday())+1;
            
                    
            /*주문 내역 출력*/        
            $(function() {
                printOrderList(7, 1);
            });
            
            function printOrderList(selectedTerm, index) { 
            	if (index == 1){
            		firstIndex = 1;
                    orderHistoryHtml = "";   
            	} 
            	if (selectedTerm!=null){
	                if (selectedTerm==100){
	                    period=allPeriod;
	                } else{
	                	period = selectedTerm;
	                }
            	}
                
                let uri = /*[[ @{/yumyum/orderhistory/}+${member.userNum}+'/']]*/null;
                uri+=(period+'/'+firstIndex);
                console.log(uri);
                
                
                $.get(uri, function(response) {
                    if (isEmpty(response) == false) {
                        console.log()
                        function groupArrayOfObjects(list, key) {
                              return list.reduce(function(rv, x) {
                                (rv[x[key]] = rv[x[key]] || []).push(x);
                                return rv;
                              }, {});
                        };
                        // orderTime을 기준으로 그룹 정렬(이미 시간 내림차순으로 정렬되어있는 상태)
                        let groupOrderList=groupArrayOfObjects(response.orderHistoryList,"orderTime");

                        for(i in groupOrderList){
                            let order = groupOrderList[i][0];
                            let orderDate = ""+(order.orderTime).substring(0,10);
                            
                            orderHistoryHtml += `
                                <tr height="10" style="border-bottom:2px solid black">
	                                <tr class="font-semibold mb-2 text-m leading-6 dark:text-slate-100 h-10">
	                                   <td colspan="3">${orderDate}</td>
	                                   <td class="text-right">${order.branchName}</td>
	                                </tr>
                                  `;
                                  
                            for(j in groupOrderList[i]){
                                let orderDetail = groupOrderList[i][j];
                                orderHistoryHtml += `
                                    <tr>
                                        <td class="font-semibold">${orderDetail.name}</td>
                                        <td>${orderDetail.info}</td>
                                        <td>${orderDetail.qty}</td>
                                        <td class="text-right">${orderDetail.price}</td>
                                    </tr>
                                    
                                `;
                            }
                            
                            orderHistoryHtml += `
                                   <tr class="font-semibold mb-2 text-m leading-6 dark:text-slate-100 h-10">
                                       <td colspan="2"></td>
                                       <td>결제금액</td>
                                       <td class="text-right">${order.totalPrice}</td>
                                   </tr>
                               </tr>    
                               `;
                        };
        
                        $("#order-list").html(orderHistoryHtml);
                    }
                }, "json");
                firstIndex+=5;
            }
            /*[- end of function -]*/
            
            function addContent(){
                printOrderList(null,null); 
            }
            /*[- end of function -]*/
            
            /* 내정보 수정 비밀번호 인증 */
            $("#pw").keydown(function(e) {
                if (e.keyCode == 13) {
                    $('#btnConfirm').trigger('click');
                }
            });
            $(document)
            .on('click','#btnConfirm',function(){
                $.ajax({
                    url:'/identification',
                    type:'post',
                    data:{pw:$('#pw').val()},
                    success:function(result){ //컨트롤러에서 넘어온 result값을 받는다 
                        if(result != 1){ //result가 1이 아니면(=0일 경우) -> 본인확인 실패 
                            alert("본인임을 확인할 수 없습니다.");
                            return false;
                            
                        } else { // result가 1일 경우 -> 본인확인 완료
                            document.location="/updateuser";
                            return true;
                        }
                    },
                    error:function(){
                        alert("본인임을 확인할 수 없습니다.");
                        console.log("본인임을 확인할 수 없습니다.");
                        return false;
                    }
                });
            })
            
            function openModalId() {
                
                 $("#modalIdentification").modal("toggle");
             }
                    /*]]>*/
        </script>
    </th:block>
</html>